<div *ngIf="(connected$ | async); else noConnection" class="border-2 border-t-0">
  <div class="w-full grid grid-cols-3 px-2">
    <b>messages</b>
    <h2 class="text-center">{{connectedRoomName}}</h2>
    <span><input class=" float-right font-bold" type="button" value="x" (click)="leaveRoom()"></span>
  </div>

  <div class="mt-2 min-h-96 bg-gray-50 mb-4 ml-2 mr-2 overflow-y-auto">
    <ng-container *ngFor="let msg of messages">
      <p>{{msg.username}}: {{msg.message}}</p>
    </ng-container>
  </div>

  <input type="text" placeholder="message here" [(ngModel)]="message">
  <input type="button" value="send" (click)="sendMessage()">

</div>

<ng-template #noConnection>
  <div class="border-2 border-t-0">
    <div class="pt-2 min-h-96 mb-4 ml-2 mr-2 items-center flex">
      <h2 class="text-md text-center font-bold w-full">join a room to start chatting</h2>
    </div>
  </div>
</ng-template>