<input class="mr-2" type="text" name="chat-name" id="chat-name" placeholder="name" [(ngModel)]="roomName">

<input class="mr-2" type="password" name="chat-password" id="chat-password" placeholder="password" [(ngModel)]="roomPassword">

<select name="chat-visiblity" id="chat-visiblity">
    <option selected>public</option>
    <option>private</option>
    <option>password protected</option>
</select>

<input class="bg-gray-200" type="submit" value="create" (click)="submit()">

<p class="text-red-500">{{error}}</p>