<div class="grid grid-cols-3 flex">
    <input class="mr-2" type="text" name="chat-name" id="chat-name" placeholder="name" [(ngModel)]="roomName">

    <input class="mr-2" type="password" name="chat-password" id="chat-password" placeholder="password"
        [(ngModel)]="roomPassword">

    <select name="chat-visiblity" id="chat-visiblity">
        <option selected value="public">public</option>
        <option value="private">private</option>
        <option value="protected">password protected</option>
    </select>

    <span class="col-span-3">
        <input class="bg-slate-200" type="submit" value="create" (click)="submit()">
    </span>

    <p class="text-red-500 col-span-3">{{error}}</p>
</div>