<div class="ml-1 grid grid-cols-3 flex">
    <div class="col-span-3">
        <label class="mr-2" for="room-type">private:</label>
        <input type="checkbox" id="room-type" [(ngModel)]="isPrivate">
    </div>

    <ng-container *ngIf="!isPrivate">
        <input class="mr-2" type="text" name="chat-name" id="chat-name" placeholder="name" [(ngModel)]="roomName">

        <input class="mr-2" type="password" name="chat-password" id="chat-password" placeholder="password"
            [(ngModel)]="roomPassword">

        <input class="bg-slate-200" type="submit" value="create" (click)="submit()">
    </ng-container>

    <ng-container *ngIf="isPrivate">
        <input class="mr-2" type="text" name="chat-name" id="chat-name" placeholder="name" [(ngModel)]="roomName">

        <input class="bg-slate-200" type="submit" value="create" (click)="submit()">
    </ng-container>

    <p class="text-red-500 col-span-3">{{error}}</p>
</div>

<ng-template #protected>

</ng-template>