<app-page-container>
  <div class="col-span-5 border-b-2 h-14 grid grid-cols-5 h-12">
    <h1 class="text-center text-xl font-bold col-start-3">Chat</h1>
    <p class="text-right underline col-start-5"><a routerLink="/login">login</a></p>
  </div>

  <div>
    <app-room-list (joinRoomEvent)="joinRoom($event)" (createRoomEvent)="createRoom($event)" [rooms$]="rooms$"
      [connectedRoom$]="connectedRoom$"></app-room-list>
  </div>

  <div class="col-span-3">
    <app-chat-window (sendMessageEvent)="sendMessage($event)" [messages]="messages"
      [connectedRoomName]="(connectedRoom$ | async)?.name" [connected$]="connected$"
      (leaveRoomEvent)="leaveRoom()"></app-chat-window>
  </div>

  <div>
    <app-user-list [users]="users" (privateMessageEvent)="sendPrivateMessage($event)"></app-user-list>
  </div>
</app-page-container>