<app-page-container>
  <div class="col-span-5 border-b-2">
    <h1 class="text-center text-lg font-bold">Chat rooms</h1>
    <a class="float-right underline" href="login">login</a>
  </div>

  <div>
    <app-room-list (joinRoomEvent)="joinRoom($event)" (createRoomEvent)="createRoom($event)" [rooms$]="rooms$" [connectedRoom$]="connectedRoom$"></app-room-list>
  </div>

  <div class="col-span-3">
    <app-chat-window (sendMessageEvent)="sendMessage($event)" [messages]="messages" [connectedRoom$]="connectedRoom$"></app-chat-window>
  </div>

  <div>
    <app-user-list [users]="users"></app-user-list>
  </div>
</app-page-container>