@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,body{
    height: 100%;
    background-color: #f8fafc;
}

input[type=submit], input[type=button]{
    cursor: pointer;
}