@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,body{
    height: 100%;
    background-color: #fcfcfc;
    color: theme('colors.text');
}

input[type=submit], input[type=button]{
    cursor: pointer;
}

#page-container{
    background-color: theme('colors.bg');
}

.card{
    background-color: theme('colors.card');
}