<div class="lg:h-full h-full">

  <div class="grid grid-cols-5 lg:mt-2 lg:pb-0 pb-4">

    <div class="col-span-5" *ngIf="editing">
      <img class="float-right mt-1 mr-2 size-3 cursor-pointer" src="/assets/icons/cross.svg" alt="Stop creating"
        title="Stop creating" (click)="setEditingState(false)">
      <p class="pl-1 font-bold lg:text-left text-center">Create a new chat room</p>
      <app-room-form (createRoomEvent)="setEditingState(false)"></app-room-form>
    </div>

    <div class="lg:col-start-1 lg:col-span-4 col-start-2 col-span-3">
      <p class="pl-1 font-bold lg:text-left text-center">Rooms</p>
    </div>

    <div class="float-right col-start-5">
      <img *ngIf="!editing" class="float-right mt-1 mr-2 size-3 cursor-pointer" src="/assets/icons/plus.svg"
        alt="Create a room" title="Create a room" (click)="setEditingState(true)">
    </div>

    <div class="overflow-y-auto max-h-96 col-span-5">
      <div *ngFor=" let room of rooms$ | async">
        <app-room-list-item [room]="room" [selected]="(connectedRoom$ | async)?.id"
          (joinRoomEvent)="joinRoom($event)"></app-room-list-item>
      </div>
    </div>
    <div class="col-span-5 mt-4 pl-1">
      <p>join with code:</p>
      <input type="text" placeholder="join code" name="join-code" [(ngModel)]="joinCode">
      <input class="bg-gray-200" type="button" value="join" (click)="joinWithCode()">
      <p>{{privateRoomCode$ |async}}</p>
    </div>
  </div>
</div>