<div class="border-2 border-t-0">
  <div class="w-full grid grid-cols-3 px-2">
    <b>private message:</b>
    <h2 class="text-center">{{pmUser?.username}}</h2>
    <span><input class=" float-right font-bold" type="button" value="x" (click)="closeWindow()"></span>
  </div>

  <div class="mt-2 min-h-96 max-h-96 bg-gray-50 mb-4 ml-2 mr-2 overflow-y-auto">
    <p *ngFor="let msg of (messages$ | async)">
      {{msg.username}}: {{msg.message}}
    </p>
  </div>

  <input type="text" placeholder="message here" [(ngModel)]="message">
  <input type="button" value="send" (click)="sendMessage()">
</div>