<div class="lg:mx-2 my-4 drop-shadow-lg" *ngIf=" pmUser">
  <div class="w-full grid grid-cols-3 max-h-8 px-2 pb-2 bg-card rounded-2xl rounded-b-none items-center">
    <h2 class="col-span-2 mt-1 font-bold truncate">
      <app-window-icon [image]="'/assets/icons/envelope.svg'" [text]="'Private messaging'"></app-window-icon>
      {{pmUser.username}}
    </h2>
    <span><img class="mt-2 float-right size-3 cursor-pointer" src="/assets/icons/cross.svg" alt="Leave room"
        title="Leave room" (click)="closeWindow()"></span>
  </div>

  <div class="min-h-96 max-h-96 bg-gray-50  overflow-y-auto rounded-xl rounded-b-none rounded-t-none border-b-2"
    #scroller>
    <p class="text-gray-500 ml-1">Chatting with {{pmUser.username}}</p>
    <div *ngFor="let msg of (messages$ | async)" #messages>
      <app-chat-message [message]="msg"></app-chat-message>
    </div>
  </div>

  <div class="grid grid-cols-12">
    <input class="w-full col-span-11 bg-gray-50 pl-1 rounded-bl-xl" name="private-message" type="text"
      placeholder="type here" [(ngModel)]="message" autofocus (keyup.enter)="sendMessage()">

    <span class="border-l-2 bg-card rounded-br-xl">
      <img class="size-5 m-1 cursor-pointer float-right" alt="Send" title="Send message"
        src="/assets/icons/paper-plane.svg" (click)="sendMessage()">
    </span>
  </div>
</div>