<!--

<div class="w-screen h-screen flex items-center">
  <div class="mx-auto bg-white shadow-md rounded-xl px-8 pt-6 pb-8 mb-32">
    asdasd
  </div>
</div>

-->

<div class="w-screen h-screen grid grid-cols-5 grid-rows-5">
  <div
    class="bg-bg lg:col-start-3 lg:col-span-1 lg:row-start-2 row-start-2 col-span-5 lg:row-span-1 row-span-2 lg:mx-0 mx-4 rounded-2xl shadow-lg">
    <div class="grid grid-cols-7 grid-rows-2 w-full h-full mt-2">
      <h1 class="text-center font-bold text-xl col-span-7">Sign in</h1>
      <span class="mx-auto row-start-2 col-start-4"><asl-google-signin-button></asl-google-signin-button></span>
    </div>
  </div>
</div>